<!DOCTYPE html>
{% load static %}
{% load my_form_tag %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta content="Coderthemes" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="{% static "statisticadmin/images/favicon.ico" %}">

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="{% static "statisticadmin/plugins/morris/morris.css" %}">

    <!-- Bootstrap core CSS -->
    <link href="{% static "statisticadmin/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{% static "statisticadmin/css/metisMenu.min.css" %}" rel="stylesheet">
    <!-- Icons CSS -->
    <link href="{% static "statisticadmin/css/icons.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "statisticadmin/css/style.css" %}" rel="stylesheet">

</head>

<body>
<div id="page-wrapper">
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <div class="">
                <a href="{% url "statisticadmin:home" %}" class="logo">
                    <img src='{% static "statisticadmin/images/logo.png" %}' alt="logo" class="logo-lg"/>
                    <img src='{% static "statisticadmin/images/logo_sm.png" %}' alt="logo" class="logo-sm hidden">
                </a>
            </div>
        </div>

        <!-- Top navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">

                    <!-- Mobile menu button -->
                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile visible-xs visible-sm">
                            <i class="fa fa-bars"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>


                    <!-- Top nav Right menu -->
                    <ul class="nav navbar-nav navbar-right top-navbar-items-right pull-right">
                        <li class="dropdown top-menu-item-xs">
                            <a href="#" data-target="#" class="dropdown-toggle menu-right-item" data-toggle="dropdown"
                               aria-expanded="true">
                                <i class="mdi mdi-bell"></i> <span class="label label-danger">{{ count_unreaded_messages|add:count_unpaid_orders }}</span>
                            </a>
                            <ul class="dropdown-menu p-0 dropdown-menu-lg">
                                <!--<li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>-->
                                <li class="list-group notification-list" style="height: 267px;">
                                    <div class="slimscroll">
                                        {% for order in unpaid_orders %}
                                            <a href="{% url "orders:admin_order_detail" order.id %}" class="list-group-item">
                                            <div class="danger">
                                                <div class="media-left p-r-10">
                                                    <em class="fa fa-cart-arrow-down bg-primary"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Có đơn hàng mới từ {{ order.first_name }} {{ order.last_name }}</h6>
                                                    <p class="m-0">
                                                        <small>Địa chỉ: {{ order.address }}</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}

                                        {% for message in unreaded_messages %}
                                            <a href="{% url "others:messages" %}" class="list-group-item">
                                            <div class="danger">
                                                <div class="media-left p-r-10">
                                                    <em class="fa fa-bell-o bg-danger"></em>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">{{ message.title|linebreaks }}</h6>
                                                    <p class="m-0">
                                                        <small>{{ message.body }}</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        <!-- list item-->

                                    </div>
                                </li>
                                <!--<li>-->
                                <!--<a href="javascript:void(0);" class="list-group-item text-right">-->
                                <!--<small class="font-600">See all notifications</small>-->
                                <!--</a>-->
                                <!--</li>-->
                            </ul>
                        </li>
                        <li class="dropdown top-menu-item-xs">
                            <a href="" class="dropdown-toggle menu-right-item profile" data-toggle="dropdown"
                               aria-expanded="true"><img src='
                                    {% if request.user.profile.photo %}{{ request.user.profile.photo.url }}{% else %}{% static 'shop/img/user_no_image.png' %}{% endif %}'
                                                         alt="user-img"
                                                         class="img-circle"> </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url "account:edit" %}"><i class="ti-user m-r-10"></i> Hồ sơ cá nhân</a></li>
                                <li class="divider"></li>
                                <li><a href="{% url "account:logout" %}"><i class="ti-power-off m-r-10"></i> Đăng xuất</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- end container -->
        </div> <!-- end navbar -->
    </div>
    <!-- Top Bar End -->

    <!-- Page content start -->
    <div class="page-contentbar">
        <!--left navigation start-->
        <aside class="sidebar-navigation">
            <div class="scrollbar-wrapper">
                <div>
                    <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
                        <i class="mdi mdi-close"></i>
                    </button>
                    <!-- User Detail box -->
                    <div class="user-details">
                        <div class="pull-left">
                            <img src='
                                    {% if request.user.profile.photo %}{{ request.user.profile.photo.url }}{% else %}{% static 'shop/img/user_no_image.png' %}{% endif %}'
                                 alt="" class="thumb-md img-circle">
                        </div>
                        <div class="user-info">
                            <a href="{% url "statisticadmin:home" %}">{{ request.user.username }}</a>
                        </div>
                    </div>
                    <!--- End User Detail box -->

                    <!-- Left Menu Start -->
                    <ul class="metisMenu nav" id="side-menu">
                        <li><a href="{% url "statisticadmin:home" %}"><i class="ti-home"></i> Dashboard </a></li>

                        <li>
                            <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-book-open"></i> Đơn
                                hàng
                                <span class="fa arrow"></span></a>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li><a href="{% url "statisticadmin:order" %}">Danh sách đơn hàng</a></li>
                                <li><a target="_blank" href="{% url "admin:index" %}orders/order/add/">Tạo mới đơn
                                    hàng</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" aria-expanded="true"><i class="ti-menu-alt"></i> Kho hàng
                                <span class="fa arrow"></span></a>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li><a href="{% url "statisticadmin:stock_list" %}">Danh sách sản phẩm</a></li>
                                <li><a href="{% url "warehouse:import" %}">Nhập hàng</a></li>
                                <li><a href="{% url "warehouse:load_excel" %}">Nhập hàng nhanh</a></li>
                                <li><a href="{% url "warehouse:importing-history" %}">Lịch sử nhập hàng</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-cash-multiple"></i>
                                Tài chính<span
                                        class="fa arrow"></span></a>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li><a href="{% url "statisticadmin:revenue" %}">Thống kê doanh thu</a></li>
                                <li><a href="{% url "statisticadmin:expenses" %}">Thống kê chi phí</a></li>
                                <li><a href="{% url "statisticadmin:profit" %}">Lợi nhuận</a></li>
                                <li><a href="{% url "statisticadmin:expense-list" %}">Danh sách chi phí</a></li>
                                <li><a href="{% url "finance:import-expense" %}">Nhập chi phí</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-unfold-more"></i>
                                Others <span
                                        class="fa arrow"></span></a>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li><a href="{% url "others:reviews" %}">Bình luận khách hàng</a></li>
                                <li><a href="{% url "others:messages" %}">Tin nhắn khách hàng</a></li>
                            </ul>
                        </li>

                        {% if request.user|has_group:"Administrator" %}
                            <li>
                            <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-account-key"></i>
                                Administrator <span
                                        class="fa arrow"></span></a>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li>
                                    <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-library-plus"></i>Tạo mới<span class="fa arrow"></span></a>
                                    <ul class="nav-third-level nav" aria-expanded="true">
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/category/add/" >Tạo mới Category</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/product/add/" >Tạo mới Sản Phẩm</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/banner/add/" >Tạo mới Banner</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}finance/expensetype/add/" >Tạo mới Loại chi phí</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}coupons/coupon/add/" >Tạo mới Mã khuyến mãi</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/contact/add/" >Tạo mới Liên hệ</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/questiontype/add/" >Tạo mới Loại câu hỏi</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/question/add/" >Tạo mới Câu hỏi thường gặp</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav-second-level nav" aria-expanded="true">
                                <li>
                                    <a href="javascript: void(0);" aria-expanded="true"><i class="mdi mdi-border-color"></i>Quản lý & Chỉnh sửa<span class="fa arrow"></span></a>
                                    <ul class="nav-third-level nav" aria-expanded="true">
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/category/" >Quản lý Category</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/product/" >Quản lý Sản Phẩm</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/banner/" >Quản lý Banner</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}finance/expensetype/" >Quản lý Loại chi phí</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}coupons/coupon/" >Quản lý Mã khuyến mãi</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/contact/" >Quản lý Liên hệ</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/questiontype/" >Quản lý Loại câu hỏi</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}others/question/" >Quản lý Câu hỏi thường gặp</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}shop/link/" >Quản lý Link</a></li>
                                        <li><a target="_blank" href="{% url "admin:index" %}auth/user/" >Quản lý Tài khoản</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                </div>
            </div><!--Scrollbar wrapper-->
        </aside>
        <!--left navigation end-->
        <!-- START PAGE CONTENT -->

        <div id="page-right-content">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <i class="mdi mdi-check-all"></i>
                            <strong>Well done!</strong> {{ message|safe }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <i class="mdi mdi-block-helper"></i>
                            <strong>Oh snap!</strong> {{ message|safe }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}
            <div class="footer">
                <div>
                    <strong>Son Boutique Admin</strong> - Made by TS
                </div>
            </div> <!-- end footer -->
        </div>
        <!-- End #page-right-content -->
    </div>
    <!-- end .page-contentbar -->
</div>
<!-- End #page-wrapper -->
<!-- js placed at the end of the document so the pages load faster -->
<script src='{% static "statisticadmin/js/jquery-2.1.4.min.js" %}'></script>
<script src='{% static "statisticadmin/js/bootstrap.min.js" %}'></script>
<script src='{% static "statisticadmin/js/metisMenu.min.js" %}'></script>
<script src='{% static "statisticadmin/js/jquery.slimscroll.min.js" %}'></script>

<!--Morris Chart-->
<script src='{% static "statisticadmin/plugins/morris/morris.min.js" %}'></script>
<script src='{% static "statisticadmin/plugins/raphael/raphael-min.js" %}'></script>

<!-- Dashboard init -->
<script src='{% static "statisticadmin/pages/jquery.dashboard.js" %}'></script>

<!-- Highchart init -->
<script src="https://code.highcharts.com/highcharts.src.js"></script>

<script src='{% static "statisticadmin/pages/jquery.form-advanced.init.js" %}'></script>

<!-- App Js -->
<script src='{% static "statisticadmin/js/jquery.app.js" %}'></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>


</body>

</html>