{% extends "shop/base.html" %}
{% load static %}
{% load my_form_tag %}
{% block title %}Liên hệ{% endblock %}

{% block content %}
    <!-- Google Map -->
    <div class="container mt-60">
        <div id="google-map" class="gmap" data-address="{{ son_boutique_contact.address }}"></div>
    </div>

    <!-- Contact -->
    <section class="section-wrap contact">
        <div class="container">
            <div class="row">

                <div class="col-md-8">
                    <h5 class="uppercase mb-30">GỬI TIN NHẮN CHO CHÚNG TÔI</h5>
                    <form id="contact-form" action="." method="post">
                        {% csrf_token %}
                        <div class="contact-name">
                            {{ message_form.name }}
                        </div>
                        <div class="contact-email">
                            {{ message_form.email|addplaceholder:"Email*" }}
                        </div>
                        <div class="contact-phone">
                            {{ message_form.phone_number }}
                        </div>
                        <div class="contact-subject">
                            {{ message_form.title }}
                        </div>

                        {{ message_form.body }}

                        <p><input type="submit" class="btn btn-lg btn-color btn-submit" value="Gửi">
                                            </p>
                        <div id="msg" class="message"></div>
                    </form>
                </div> <!-- end col -->

                <div class="col-md-4 mb-40 mt-mdm-40 contact-info">

                    <div class="address-wrap">
                        <h4 class="uppercase">Địa chỉ</h4>
                        <h6>{{ son_boutique_contact.name }}</h6>
                        <address class="address">{{ son_boutique_contact.address }}</address>
                    </div>

                    <h4 class="uppercase">Thông tin liên hệ</h4>
                    <ul class="contact-info-list">
                        <li><span>Điện thoại: </span><a href="tel:+1-888-1554-456-123">{{ son_boutique_contact.phone_number }}</a></li>
                        <li><span>Email: </span><a href="mailto:{{ son_boutique_contact.email }}" class="sliding-link">{{ son_boutique_contact.email }}</a>
                        </li>
                        <li><span>Skype: </span><a href="#">{{ son_boutique_contact.skype }}</a></li>
                    </ul>

                    <h4 class="uppercase">Giờ mở cửa</h4>
                    <p>Monday – Sunday: {{ son_boutique_contact.businesshour }}</p>

                </div>

            </div>
        </div>
    </section> <!-- end contact -->


{% endblock %}

{% block domready %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'shop/js/gmap3.js' %}"></script>
<!-- Google Map -->
<script type="text/javascript">
    $(document).ready(function () {

        var gmapDiv = $("#google-map");
        var gmapMarker = gmapDiv.attr("data-address");

        gmapDiv.gmap3({
            zoom: 16,
            address: gmapMarker,
            oomControl: true,
            navigationControl: true,
            scrollwheel: false,
            styles: [
                {
                    "featureType": "all",
                    "elementType": "all",
                    "stylers": [
                        {"saturation": "0"}
                    ]
                }]
        })
            .marker({
                address: gmapMarker,
                icon: "{% static "shop/img/map_pin.png" %}"
            })
            .infowindow({
                content: "{{ son_boutique_contact.address }}"
            })
            .then(function (infowindow) {
                var map = this.get(0);
                var marker = this.get(1);
                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });
            });
    });
</script>
{% endblock %}