{% extends "statisticadmin/adminbase.html" %}
{% load static %}
{% block title %}LỊCH SỬ NHẬP KHO HÀNG{% endblock %}

{% block content %}
    <div class="table-responsive m-b-20">
        <h3><b>LỊCH SỬ NHẬP KHO HÀNG {{ title }}</b></h3>
        <br>
        <form action=".">
            <div class="input-group col-md-6">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
            <input width="50%" type="text" id="example-input1-group2" name="q" class="form-control"
                   placeholder="Tìm kiếm theo tên SP hoặc người nhập">
        </div>
        </form>
        <br>

        <table id="datatable" class="table table-striped table-bordered">
            <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="25%">Sản Phẩm</th>
                <th width="14%">Giá Nhập (VND)</th>
                <th width="14%">Giá Bán (VND)</th>
                <th width="10%">Số Lượng</th>
                <th width="18%">Thời Gian Nhập</th>
                <th width="14%">Được Tạo Bởi</th>
            </tr>
            </thead>


            <tbody>
            <form action="." method="post">
                {% csrf_token %}
                {% for import in imports %}
                    <tr>
                        <td>{{ import.id }}</td>
                        <td>{{ import.product }}</td>
                        <td>{{ import.origin_price }}</td>
                        <td>{{ import.sale_price }}</td>
                        <td>{{ import.quantity }}</td>
                        <td>{{ import.created }}</td>
                        <td>{{ import.create_by }}</td>
                    </tr>
                {% endfor %}
            </form>
            </tbody>
        </table>
        {% include "pagination.html" with page=imports %}
    </div>
{% endblock %}
